{% extends 'base.html' %} {% block content %}
  <main class="template">
    <h2 class="main-title -second">{{ category.name }}</h2>
    <h6>{{ category.description }}</h6>
    {% if category.projetos.all %}
      <ul>
        {% for post in category.projetos.all %}
          <li>
            <a href="{% url 'projetos:detail' post.id %}" class="main-action -second">{{ post.name }} ({{ post.release_date|date:'d/m/Y' }})</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Não foi encontrado nenhum projeto.</p>
    {% endif %}
  </main>
{% endblock %}
