{% extends 'base.html' %} {% block title %}
  {{ post.name }}
{% endblock %} {% block content %}
  <main class="template">
    <h2 class="main-title -second">{{ post.name }} ({{ post.release_date|date:'d/m/Y' }})</h2>
    <ul>
        <li><a href="{% url 'projetos:update' post.id %}" class="main-action -second">Editar</a></li>
        <li><a href="{% url 'projetos:delete' post.id %}" class="main-action -second">Apagar</a></li>
    </ul>
    <h6>{{ post.description|safe }} O projeto pode ser acessado <a href="{{ post.projeto_url }}" target="_blank">aqui</a>.</h6>
  </main>
{% endblock %}
