{% extends 'base.html' %} {% block content %}
  <main class="template">
    <h2 class="main-title -second">Projetos</h2>
    <a href="{% url 'projetos:create' %}">Adicionar Novo Projeto</a>
    {% if projeto_list %}
      <ul>
        {% for projeto in projeto_list %}
          <li>
            <a href="{% url 'projetos:detail' projeto.id %}" class="main-action -second">{{ projeto.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Não foi encontrado nenhum projeto.</p>
    {% endif %}
  </main>
{% endblock %}
