{% extends 'base.html' %} {% block content %}
  <main class="template">
    <h2 class="main-title -second">Projetos</h2>
    <a href="{% url 'projetos:create' %}" class="main-button -second">Adicionar Novo Projeto</a>
    {% if post_list %}
      <ul>
        {% for post in post_list %}
          <li>
            <a href="{% url 'projetos:detail' post.id %}" class="main-action -second">{{ post.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Não foi encontrado nenhum projeto.</p>
    {% endif %}
  </main>
{% endblock %}
