{% extends 'base.html' %}

{% block title %}
  Sobre
{% endblock %}

{% block content %}
  <main class="template">
    <h2 class="main-title -second">Sobre</h2>
    <h6>Atualmente, estou cursando Engenharia Mecatrônica na Escola Politécnica da Universidade de São Paulo. Sou um apaixonado pela tecnologia e meu foco principal vem sendo a área de programação e suas diversas possibilidades. Realizei diversos cursos durante minha graduação, como um curso de aprofundamento na linguagem Python e alguns cursos de Frontend. Além disso, pratico também alguns esportes, principalmente vôlei e musculação. Por fim, mas não menos importante, gosto de estar rodeado de pessoas e tento sempre manter um clima de alegria!</h6>
  </main>
{% endblock %}
