{% extends 'base.html' %}

{% block title %}
  Página Inicial
{% endblock %}

{% block content %}
  <main class="main-banner">
    <div class="wrapper">
      <div class="main-box">
        <h1 class="main-title">Lucas Marques</h1>
        <h2 class="main-subtitle">Engenheiro Mecatrônico</h2>
      </div>

      <div class="navigation">
        <a class="main-button" href="https://drive.google.com/file/d/1gzIujBgSGg678mIHOUijuhL_k4-x_pmp/view?usp=drive_link" target="_blank">Download CV</a>
        <a class="main-button" href="{% url 'about' %}">Sobre</a>
      </div>
    </div>
  </main>
{% endblock %}
