{% extends 'base.html' %} {% block content %}
  <main class="template">
    <h2 class="main-title -second">Comentar Projeto {{ project.name }} ({{ project.release_date|date:"d/m/Y"}})</h2>
    <form method="POST" action="{% url 'projects:comment' project.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="{% url 'projects:detail' project.id %} " class="main-button -second">Cancelar</a>
      <button type="submit" class="main-button -second">Postar Comentário</button>
    </form>
  </main>
{% endblock %}