{% extends 'base.html' %}
{% block title %}
  {{ project.name }}
{% endblock %}
{% block content %}
  <main>
    <section class="template">
      <h2 class="main-title -second">{{ project.name }} ({{ project.release_date|date:'d/m/Y' }})</h2>
      {% if perms.projects.change_project and perms.projects.delete_project %}
        <ul>
          <li>
            <a href="{% url 'projects:update' project.id %}" class="main-action -second">Editar</a>
          </li>
          <li>
            <a href="{% url 'projects:delete' project.id %}" class="main-action -second">Apagar</a>
          </li>
        </ul>
      {% endif %}
      <h6>{{ project.description|safe }} O projeto pode ser acessado <a href="{{ project.project_url }}" target="_blank">aqui</a>.</h6>
      {% if project.category_set.all %}
        <h6>Faz parte da(s) categoria(s):</h6>
        <ul>
          {% for category in project.category_set.all %}
            <li>
              <a href="{% url 'projects:category' category.id %}" class="main-action -second">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    <section class="template -second">
      <h2 class="main-title -second">Comentários</h2>
      <ul class="comments">
        <li class="comentar">
          <a href="{% url 'projects:comment' project.id %}" class="main-button">Comentar</a>
        </li>
        {% if project.comment_set.all %}
          {% for comment in project.comment_set.all %}
            <li class="edit-comment">
              <figure>
                <figcaption>
                  <strong>{{ comment.author }}</strong> ({{ comment.date|date:'d/m/Y' }})
                </figcaption>
                <blockquote>"{{ comment.text }}"</blockquote>
              </figure>
              <div>
                {% if user.is_authenticated and user.username == comment.author.username %}
                  <a class="main-button" href="{% url 'projects:comment_update' comment.id %}">Editar</a>
                {% endif %}
                {% if user.is_authenticated and user_belongs_to_moderators or user.username == comment.author.username %}
                  <button class="main-button" type="button" onclick="confirmDelete('{{ comment.id }}')">Apagar</button>
                  <form method="post" action="{% url 'projects:detail' project.id %}" class="delete-comment-form -comment-{{ comment.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="delete_comment_id" value="{{ comment.id }}" />
                  </form>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        {% else %}
          <h6>Ainda não existe nenhum comentário para o projeto.</h6>
        {% endif %}
      </ul>
    </section>
  </main>

  <script>
    function confirmDelete(commentId) {
      const result = confirm('Tem certeza que deseja apagar este comentário?')
      if (result) {
        const form = document.querySelector('.delete-comment-form.-comment-' + commentId)
        form.submit()
      }
    }
  </script>
{% endblock %}
