{% extends 'base.html' %}
{% block title %}
  Atualizar projeto {{ project.name }}
{% endblock %}
{% block content %}
  <main class="template">
    <h2 class="main-title -second">Atualizar Dados do Projeto {{ project.name }} ({{ project.release_date|date:'d/m/Y' }})</h2>
    <form method="POST" action="{% url 'projects:update' project.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="main-button -second">Atualizar</button>
    </form>
  </main>
{% endblock %}
