{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>
      {% block title %}

      {% endblock %}| Portfólio - Lucas Marques
    </title>
  </head>

  <body>
    <header class="main-header">
      <a href="{% url 'index' %}"><img src="{% static 'images/logo-home.webp' %}" alt="Home logo" /></a>

      <nav class="main-nav">
        <a class="main-action" href="{% url 'projects:categories' %}">Categorias</a>
        <a class="main-action" href="{% url 'projects:index' %}">Projetos</a>
        <a class="main-action" href="{% url 'about' %}">Sobre</a>
      </nav>
      {% if user.is_authenticated %}
            <a class="main-button" href="{% url 'logout' %}" lang="en">Logout</a>
        {% else %}
            <a class="main-button" href="{% url 'login' %}" lang="en">Login</a>
        {% endif %}
    </header>
    {% block content %}

    {% endblock %}
    <footer class="main-footer">
      <a href="https://www.linkedin.com/in/lucas-martins-marques/" target="_blank"><img src="{% static 'images/logo-linkedin.webp' %}" alt="logo do linkedin" /></a>

      <a href="https://github.com/lucasmarques2803" target="_blank"><img src="{% static 'images/logo-github.png' %}" alt="logo do github" /></a>

      <a href="mailto:lucas-marques2003@hotmail.com" target="_blank"><img src="{% static 'images/logo-gmail.webp' %}" alt="Logo do Gmail" /></a>
    </footer>
  </body>
</html>
